

.top-menu {
    background-color: #ffca36;
    font-size: .90em;

}
.active-color{
    color: #ffca36!important;
}
.location{
    padding-top: 10px;
    padding-bottom: 10px;
}
.welcome{
    float: left;
    width: 45.00%;
    text-align: center;
    color: #ffffff;
    /*border-radius: 100px 0 100px 0 ;*/
    background-color: #353535;
    padding-top: 10px;
    padding-bottom: 10px;

    clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);

}



.social-icon{
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img{
    padding-top: 20px;
    width: 150px;
    height: 70px;

}
#main-menu .nav{
    padding-top: 30px;
    padding-bottom: 30px;
}
#main-menu .nav .nav-item .nav-link{
    color: #000000;
    font-size: 1rem;
}
#main-menu .nav .nav-item .nav-link:hover{
    color: #ffca36;
}

.carousel-item{
    /*position: relative;*/
    /*background-color: rgba(00,000,000, 1.111);*/
    height: 100%;
    width: 100%;
    z-index: 1;
}
.carousel-item:before{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(00,000,000, 0.4);
}

.carousel-caption {
    width: 500px;
    position: absolute;
    top: 30%;
    bottom: 1.25rem;
    left: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;

}
.carousel-caption h5{
    font-size: 2em;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.66)
}
.carousel-caption p{
    font-size: .75em;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.66)
}
.carousel-btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    margin-right: 39px;
}
.carousel-btn:hover, .carousel-caption .carousel-btn:nth-child(3) {
    border: 1px solid #ffca36;
    background-color: #ffca36;
    color:#000000;
}

/*for nav Item*/
#main-menu .nav-item{
    position: relative;
    margin-right: 10px;

}

#main-menu .nav-item:hover::after{
    width: 110%;
    height: 120%;
    border-left: 2px solid #ffca36;
    border-bottom: 2px solid #ffca36;
}

#main-menu .nav-item:hover::before{
    border-top: 2px solid #ffca36;
    border-right: 2px solid #ffca36;
    width: 110%;
    height: 120%;
}

#main-menu .nav-item::after{
    z-index: -1; left: 0; bottom: 0; content: ''; width: 0; height: 0; position: absolute; border-left: 4px solid transparent; border-bottom: 4px solid transparent; transition: all .8s ease; -webkit-transition: all .8s ease; -moz-transition: all .8s ease; -ms-transition: all .8s ease; -o-transition: all .8s ease;
}

#main-menu .nav-item::before{
    z-index: -1;
    top: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
/*for nav carousel control*/



.carousel-control-next-icon:after, .carousel-control-prev-icon:after {
    /*font-weight: 700;*/
    /*font-family: Font Awesome\ 5 Pro,Font Awesome\ 5 Free;*/
    /*font-size: 1.7rem;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: inline-block;*/
    /*border: 2px solid #ffca36;*/
    /*border-bottom: 2px solid #ffca36;*/
}


.section-head-content{
    padding-top: 80px;
    width: 400px;
    margin:0 auto;
    color: #555555;

}

.section-head-content p{
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: .75em;
    font-weight: bold;
}


#service .icon-border{
    position: relative;
    margin: 0 auto;
    border: 2px solid gray;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    margin-bottom: 60px;
}
#service .icon-border:after{
    position: absolute;
    content: " ";
    border-top: 2px dotted gray;
    width: 43px;
    transform: rotate(45deg);
    right: -36px;
    top: 110px;

}
.icon-border img{
    padding-top: 25px;
    padding-left: 15px;
    transform:rotate(-45deg);
}
#service .row .col-md-4:nth-child(2) .icon-border img{
    padding-top: 25px;
    padding-left: 1px;

}
#service .row .col-md-4 .card-body{

    padding: 55px 30px;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 80px;
}
#service .row .col-md-4 .card-body h4{
    font-size: 18px;
    text-transform: uppercase;
}
#service .row .col-md-4 .card-body p{
    font-size: 14px;
    text-align: justify-all;
}

#service .row .col-md-4:nth-child(2) .icon-border{
    border: 2px solid #ffca36;
    background-color: rgba(255, 73, 50, 0.05);
}
#service .row .col-md-4:nth-child(2) .icon-border:after{
    border: 1px solid #ffca36;
}

#service .row .col-md-4:nth-child(2) .card-body{
    border: 1px solid #ffca36;
    box-shadow: 5px 8px 5px rgba(34, 34, 34, 0.10);


}

#service .row .col-md-4:hover .icon-border{
    border: 2px solid #ffca36;
    background-color: rgba(255, 73, 50, 0.05);
}

#service .row .col-md-4:hover .icon-border:after{
     border: 1px solid #ffca36;
}
#service .row .col-md-4:hover .card-body{
     border: 1px solid #ffca36;
    box-shadow: 5px 8px 5px rgba(34, 34, 34, 0.10);
 }

#about{
    overflow-x: hidden;
}
#about  .row .col-md-6:first-child{
    background-image: url("../img/about-image.png");
    height: 437px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#about .row .col-md-6:last-child{
    padding-right: 100px;

}
#about .col-md-6 .nav .nav-item{
border-bottom: 2px solid #dddddd;
    font-size: 1.2rem;
    color: #353535;

}
#about .col-md-6 .nav .nav-item:hover{
    border-bottom: 2px solid #ffca36;
    color: #353535;
    background-color: transparent;

}
#about .nav-tabs .nav-link:hover {
    background-color: rgba(255, 73, 50, 0.05);
    border-color: transparent;
}
#about .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #353535;
    border-color: #ffca36;
}

#about .tab-content .tab-pane{
    font-size: 14px;
}
#about .about-btn {
    border: 1px solid #ffca36;
    background-color: #ffca36;
    color:#353535;
    border-radius: 0;
}